CTest*
CPack*
CMakeDoxy*
CMakeFiles/
CMakeScripts/
Debug/
Release/

*.user.*
*.user
*.xcodeproj
*.autosave
*.qm
*.o
*.rpm
*.key
*.pem
*.cfg
*-lock

*.tar.gz
*.zip
*.app
*.out
*.pdf
*.spec
*.iss
*.rc
*.dSYM
cmake_*.cmake
*_automoc.cpp
moc_*.cpp
qrc_*.cpp
ui_*.h

testdata/*.log
testdata/*.pid
testdata/*.uuid
testdata/*.db
testdata/*.db-journal
testdata/*.cnf
userdata/
*autogen/
cmake-build-*/
cmake-release-*/
stage/
doc/
*.gch/
.idea/

# for in-tree unix builds

.DS_Store
.ninja*
Custom.cmake
CMakeCache.txt
install_manifest.txt
Makefile

sipwitchqt-desktop
sipwitchqt-server
Doxyfile
config.hpp
