*.pro.user.*
*.pro.user

*.tar.gz
*.zip
*.exe
*.app

.DS_Store
.qmake.*

testdata/*.log
testdata/*.pid
testdata/*.db
testdata/*.cnf
testdata/*.realm
testdata/misc
userdata/
doc/
*.gch/

# for in-tree unix builds

Bootstrap/*/*
CMakeFiles/
CMakeCache.txt
Makefile
Makefile.*
cmake_install.cmake
moc_*.cpp
moc_*.h
*.o
*.a
*.obj
*.qm
*.lib
*.dll

sipwitchqt
