*.pro.user.*
*.pro.user

*.tar.gz
*.zip
*.exe
*.app

.DS_Store
.qmake.*

testdata/*.log
testdata/*.pid
testdata/*.db
testdata/*.cnf
testdata/*.realm
testdata/misc
userdata/
*.gch/

# for in-tree unix builds

CMakeFiles/
Bootstrap/*/*
CMakeCache.txt
Makefile
Makefile.*
cmake_install.cmake
moc_*.cpp
*.o
*.a
*.obj
*.qm
*.lib
*.dll

sipwitches
