/* declare common controls and behaviors */

QToolButton {
    background: white;
    border: 0px;
    margin: 0px;
    padding: 0px;
}

QToolButton:pressed {
    background: lightgray;
}

QPushButton {
    background: lightgray;
    border: 1px solid lightgray;
    padding: 3px;
    border-radius: 6px;
    width: 96px;
}

QPushButton:pressed {
    background: gray;
}

QLineEdit {
    background: white;
    border: 1px solid lightgray;
    border-radius: 4px;
    padding: 2px;
}

QComboBox {
    background: white;
    border: 1px solid lightgray;
    border-radius: 4px;
    padding: 2px;
    padding-left: 6px;
    width: 96px;
}

QComboBox::drop-down {
    background: white;
    border: 0px;
    margin: 2px;
}

QComboBox::down-arrow {
    image: url(:/images/downarrow.png)
}

QComboBox::item:selected {
    background: lightgray;
    color: black;
    font: bold;
}

QGroupBox {
    background: white;
    font-weight: bold;
}

QCheckBox::indicator::unchecked {
    image: url(:/images/unchecked.png)
}

QCheckBox::indicator::checked {
    image: url(:/images/checked.png)
}

QDialog, QMainWindow, QStatusBar, QListView, QStackedWidget {
    background: white;
}

/* special controls... */

QLabel#searchLabel {
    border: 1px solid #c0c0c0;
    border-right: 0px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding-left: 4px;
    padding: 1px;
    margin: 0px;
}

QLineEdit#searchText {
    border: 1px solid #c0c0c0;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-left: 0px;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
    padding: 1px;
    margin: 0px;
    padding-left: 0px;
}

QToolBar#toolBar {
    border: 0px;
    padding: 0px;
    margin: 0px;
}

