[Unit]
Description=sipwitch server
After=network.target
#After=network.target mysqld. service     # For installations where database is on the same machine as server


[Install]
WantedBy=multi-user.target
Alias=sipwitchd.service


[Service]
EnvironmentFile=-/etc/sipwitchqt.conf
#ExecStartPre=/usr/sbin/sipwitchqt-server -t        # NOT IMPLEMENTED YET Testing of correctness of .conf file

ExecStart=/usr/sbin/sipwitchqt-server

ExecReload=/bin/kill -HUP $MAINPID
KillMode=process
Restart=on-failure
RestartSec=1s
RestartPreventExitStatus=255
Type=notify
RuntimeDirectory=sipwitch
RuntimeDirectoryMode=0755
