[Unit]
Description=sipwitch server
Wants=mysqld.service				# this makes it optional, dumb phrasing
After=mysqld.service network.target

[Install]
WantedBy=multi-user.target
Alias=sipwitchd.service

[Service]
EnvironmentFile=-/etc/default/sipwitchqt
#User=sipwitch
#Group=sipwitch
#ExecStartPre=/usr/sbin/sipwitchqt-server -t    # NOT IMPLEMENTED YET Testing of correctness of .conf file
ExecStart=/usr/sbin/sipwitchqt-server
ExecReload=/bin/kill -HUP $MAINPID
KillMode=process
Restart=on-failure
RestartSec=1s
RestartPreventExitStatus=255
Type=notify
RuntimeDirectory=sipwitch
RuntimeDirectoryMode=0755
